.game {
  height: 330px;
  width: 320px;
  display: flex;
  flex-direction: column;

  user-select: none; /* 連続クリックしても選択されないように */
}

.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 10px; /* カード間のスペースを追加する場合 */
}
