.card {
  height: 90px;
  width: 60px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 2px #808000;
}

.card img {
  height: 36px;
  width: 36px;
}

.down {
  background-color: #c0c0c0;
}

.taken {
   visibility: hidden;
}
