.Card {
  height: 90px;
  width: 60px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card img {
  height: 36px;
  width: 36px;
}

.turnedUp {
  border: solid 2px #808000;
}

.turnedDown {
  background-color: #c0c0c0;
  border: solid 2px #808000;
}

.taken {
  border: solid 2px #fff;
}
